<div class="social-likes" data-url="%permalink%">
    <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">VKontakte</div>
    <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
    <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
</div>
<div style="clear:both"></div>